[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Zlib",
    "MPL-2.0",
]
allow-osi-fsf-free = "either"
copyleft = "warn"
unlicensed = "warn"
unknown = "warn"
confidence-threshold = 0.8
